.section-hero-data{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:-60px
  }
  .contact-btn{
      max-width:15rem;
  }
  .hero-heading{
      margin-top:120px ;
      margin-left: 150px;
      text-transform:uppercase;
      font-size:20rem;
      width:50px
    }
    .hero-para{
      margin-top:-1rem;
      margin-bottom:3.4rem;
      max-width:35rem;
      margin-left: 150px;
    }
    .contact-btn{
     background-color:  rgb(98 84 243);
     color: aliceblue;
      margin-left: 150px;
     text-decoration:none;
      max-width:auto;
     
  
  padding:1.4rem 3.4rem;
  border:none;
  /* text-transform:uppercase; */
  text-align:center;
  
    }

   
    .contact {
      text-decoration:none;
      color:rgb(255 255 255);
      font-size:1.5rem;
      
  
  }
  .contact-btn:hover{
      box-shadow:0 2rem 2rem 0 rgb(132 144 255/30%);
      font-size: 30px;
      transform:scale(0.96);
  }
  .anchor-link{
    color: aliceblue;
    font-size: 23px;
    font-weight: 700;
    
  }

  @media(max-width:768px){
  .home{
    padding-top: 150px;
  }
  .hero-para{
    display: flex;
    width: 35rem;
    font-size: 30px;
    margin-top: 15px; 
  }
  .contact-btn{
    width: 1200px;
    height: 90px;
   
    
  }
  .anchor-link{
    color: aliceblue;
    font-size: 23px;
    font-weight: 700;
    
  }
  }
